<ion-content [fullscreen]="true">
  <div id="imageData">

    <ion-img src="/assets/Frame.png" alt=""></ion-img>
  </div>

  <div id="overlayDiv">
    <ion-grid>
      <ion-row class="ion-justify-content-center topMargin">
        <ion-col size="10">

          <div style="display: flex;justify-content: center;">
            <ion-img src="/assets/girl.svg" alt="The Wisconsin State Capitol building in Madison, WI at night"
              style="width: 70%;height: 70%;"></ion-img>
          </div>

        </ion-col>
      </ion-row>

      <ion-text>
        <div style="margin-top: 40px;">
          <ion-text color="light" class="ion-text-center">
            <div class="textStyle">
              Your registration is successful!
            </div>
          </ion-text>
          <ion-text color="light" class="ion-text-center ion-margin-top" style="display: flex;justify-content: center;">
            <div class="contentStyle">
              Create an account for your little one and start learning at KidsLand!
            </div>
          </ion-text>
        </div>
      </ion-text>

      <ion-button expand="block" class="buttonStyle">Create a child account</ion-button>
      <ion-button expand="block" class="buttonStyle1" fill="outline" color="light">Later</ion-button>

    </ion-grid>

    <div style="display: flex;justify-content: end;">

      <div style="position: absolute;z-index: 1; top:98%;left: 50%;">
        <img src="/assets/FrameCircle.svg" style="width: 94px;height: 94px;" alt="">
      </div>

      <div style="position: absolute;z-index: 1; top:72%;left: 80%;">
        <img src="/assets/Vector.svg" style="width: 177px;height: 240px;" alt="">
      </div>

    </div>

  </div>

</ion-content>