.buttonStyle {

    --border-radius: 10px;
    --background: #7A1FA0;
    width: 150px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-transform: none;
}